@{
    var auction = ViewBag.Auction;
}

<div>
    <h3>@auction.Title</h3>
    
    <div class="details">
        <p>Start Time: @auction.StartTime.ToString("g")</p>
        <p>End Time: @auction.EndTime</p>
        <p>Start Price: @auction.StartPrice.ToString("C")</p>
    </div>

</div>
<p>
    Current Price:
    @if (auction.CurrentPrice == null)
    {
        @: [No bids]
    }
    else
    {
        <span>@auction.CurrentPrice.Value.ToString("C")</span>
    }
</p>
@if (auction.ImageUrl != null) 
{
    <img src="@auction.ImageUrl" title="@auction.Title" />
}
<div class="description">
    @auction.Description
</div>